:root {
  --verde-agua: #16ffbb;
  --azul-claro: #29ddda;
  --azul: #37a7e7;
  --azul-escuro: #091231;
  --cinza: #e0e4e6;
  --branco: #f0fcff;
  --preto: #0a081b;
  --titulo: "Poppins";
  --texto: "Montserrat";
}

/* CABEÇALHO */

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  align-items: center;
  font-family: var(--texto);
  background-color: var(--preto);
  width: 100vw;
}

header > h3 {
  color: var(--verde-agua);
  margin-left: 4rem;
  font-weight: 500;
  font-size: 24px;
}

header > ul {
  display: flex;
  gap: 4rem;
}

header > ul > li > a {
  color: var(--verde-agua);
  font-weight: 500;
}

header > ul > li > a:hover {
  color: var(--verde-agua);
  text-shadow: 1px 1px 10px var(--verde-agua);
}

header > a {
  margin-right: 4rem;
  padding: 0.5rem 0.9rem;
  color: var(--verde-agua);
  border: var(--verde-agua) 1px solid;
  border-radius: 15px;
}

header > a:hover {
  color: var(--preto);
  background-color: var(--verde-agua);
  border: var(--verde-agua) solid 1px;
}

/* MAIN */
body {
  background-color: var(--branco);
  font-family: var(--texto);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;
  width: 100%;
  position: relative;
  justify-content: center;
}

.materias {
  margin-top: 2rem;
  margin-left: 3rem;
  display: flex;
  gap: 10px;
  column-gap: 4rem;
  transition: transform 0.3s ease-in-out;
  width: calc(100% * (10 / 3));
}

.card {
  display: grid;
  grid-template-columns: 20% 40% 40%;
  grid-template-rows: 20% 60% 20%;
  min-width: 200px;
  height: 8rem;
  background-color: var(--verde-agua);
  border: 1px solid var(--cinza);
  border-radius: 10px;
  justify-content: center;
  color: var(--preto);
}

.card:hover {
  transition: 0.5s;
  transform: scale(1.1);
}

.card > i {
  color: #0a081b;
  font-size: 2rem;
  grid-area: 1/1/2/2;
  margin: 0.5rem 0 0 0.5rem;
}

.card-nome {
  grid-area: 1/2/2/3;
  font-weight: 700;
  line-height: 18px;
  font-size: 18px;
  margin: 1rem 0 0 1rem;
}

.card > div {
  width: 1rem;
  height: 1rem;
  border: 1px solid #afafaf;
}

.card-numero {
  font-size: 12px;
  margin: 0 0 1rem 1rem;
  grid-area: 3/1/4/4;
}

.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-200%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  z-index: 10;
  display: block;
}

.prev {
  position: absolute;
  left: 10px;
}

.next {
  position: absolute;
  right: 10px;
}

#pesquisar {
  border: none;
  height: min-content;
}

.pesquisar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
  width: 29rem;
  height: 0.5rem;
  border-radius: 20px;
  padding: 1rem;
  border: 1px solid var(--preto);
}

#pesquisar::placeholder {
  color: var(--preto);
  font-family: var(--texto);
}

#pesquisar:focus {
  border: none;
  outline: none;
}

.pesquisar > i {
  font-weight: 500;
  font-size: 20px;
}

hr {
  margin-top: 3rem;
  background-color: var(--preto);
  width: 100%;
  height: 0.2px;
}

.slider-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}
