:root {
  --verde-agua: #16ffbb;
  --azul-claro: #29ddda;
  --azul: #37a7e7;
  --azul-escuro: #091231;
  --cinza: #e0e4e6;
  --branco: #f0fcff;
  --preto: #0a081b;
  --titulo: "Poppins";
  --texto: "Montserrat";
}

body {
  background-image: url("./img/background-desktop.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  font-family: var(--texto);
  overflow-x: hidden;
  background-color: var(--preto);
}

/* CABEÇALHO */

header {
  display: flex;
  justify-content: space-between;
  margin: 1rem 2rem;
  align-items: center;
}

header > h3 {
  color: var(--verde-agua);
  margin-left: 2rem;
  font-weight: 500;
  font-size: 24px;
}

header > ul {
  display: flex;
  gap: 4rem;
}

header > ul > li > a {
  color: var(--preto);
  font-weight: 500;
}

header > ul > li > a:hover {
  color: var(--verde-agua);
  text-shadow: 1px 1px 10px var(--verde-agua);
}

header > a {
  margin-right: 4rem;
  padding: 0.5rem 0.9rem;
  color: var(--verde-agua);
  border: var(--verde-agua) 1px solid;
  border-radius: 15px;
}

header > a:hover {
  color: var(--preto);
  background-color: var(--verde-agua);
  border: var(--verde-agua) solid 1px;
}

/* MAIN */

main {
  padding: 10rem 10rem 0rem 10rem;
  height: 400px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  color: var(--branco);
  background-image: linear-gradient(
    to top,
    rgb(0, 0, 0, 1),
    rgba(0, 0, 0, 0.001)
  );
}

.titulo-principal {
  color: var(--branco);
  font-size: 46px;
  font-weight: 700;
}

.titulo-principal > strong {
  color: var(--verde-agua);
  text-shadow: 1px 1px 10px var(--preto);
}

.texto-principal {
  margin-top: 1.5rem;
  text-align: justify;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2rem;
  margin-right: 10rem;
}

.texto-principal > strong {
  color: var(--verde-agua);
  font-weight: 500;
}

.botoes-principais {
  margin-top: 2.5rem;
  display: flex;
  gap: 0.6rem;
}

.botoes-principais > a {
  padding: 0.9rem;
  background-color: var(--verde-agua);
  border-radius: 25px;
  color: var(--preto);
  font-weight: 600;
}

.botoes-principais > a:hover {
  cursor: pointer;
  color: var(--verde-agua);
  background-color: var(--preto);
}

/* SEÇÃO DOIS */

.segunda-secao {
  background-color: var(--preto);
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0.001));
  background-image: linear-gradient(
    to bottom,
    rgb(0, 0, 0, 1),
    rgb(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.001)
  );
}

.conteudo-segunda-secao {
  padding: 15rem 10rem 18rem 10rem;
}

.titulo-secundario {
  font-size: 44px;
  font-weight: bolder;
  justify-self: center;
  color: var(--branco);
  margin-bottom: 6rem;
}

.lista-segunda-secao {
  display: flex;
  justify-content: space-around;
  color: var(--branco);
}

.titulo-informacao {
  color: var(--azul-claro);
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 0.5rem;
}

.lista-segunda-secao > li > p {
  font-size: 16px;
  font-weight: 300;
  padding-right: 3rem;
}

/* TERCEIRA SEÇÃO */

.terceira-secao {
  background-color: var(--preto);
  color: var(--branco);
}

.titulo-terceira-secao {
  font-size: 44px;
  font-weight: bolder;
  justify-self: center;
  margin-bottom: 6rem;
}

.titulo-terceira-secao > strong {
  color: var(--verde-agua);
}

.lista-terceira-sessao {
  display: flex;
  justify-content: space-around;
  margin: 0rem 15rem;
}

.lista-terceira-sessao > li {
  width: 14rem;
  height: 8rem;
  background-color: var(--preto);
  border: 2px solid var(--verde-agua);
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

.titulo-info {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 1rem;
}

.lista-terceira-sessao > li > p {
  font-weight: 300;
}

/* QUARTA SEÇÃO */
.quarta-secao {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 12px;
  max-width: 900px;
  margin: 15rem auto;
  color: white;
}

.imagem-quarta-secao {
  width: 400px;
  border-radius: 12px;
  margin-right: 7rem;
}

.quarta-secao div {
  flex: 1;
}

.quarta-secao-titulo {
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 3rem;
}

.quarta-secao div > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--azul-escuro);
  padding: 1rem 1rem 1.5rem 1rem;
  width: 200px;
  border-radius: 8px;
}

.quarta-secao div > div > div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

/* Ícone Play */
.play {
  width: 20px;
  height: 20px;
  grid-area: play;
}

/* Subtítulo */
.quarta-secao-subtitulo {
  font-size: 18px;
  color: #00ff99;

  grid-area: titulo;
}

/* Texto */
.quarta-secao-texto {
  font-size: 14px;
  max-width: 250px;
  grid-area: texto;
}
